.root {
	-fx-background-color:white;
	-fx-focus-color:transparent;
	-fx-font-size:13.5;
}

.button {
	-fx-background-color:lavender;
}


.table-view {
  -fx-table-cell-border-color: transparent;
}

/* keep horizontal line */
.table-view .table-row-cell { 
  -fx-border-width: 1;
}

.table-view .column-header{
    -fx-font-size: 13;
    -fx-background-color:mistyrose;
}

.table-cell {
    -fx-font-size: 13.5px;
    -fx-text-fill:black; 
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:focused:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1, 2;
}

.table-row-cell:filled:selected { 
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-table-cell-border-color: derive(-fx-color, 5%);
}

.table-row-cell:odd:filled:selected {
  -fx-background: -fx-control-inner-background-alt ;
}


/* Row hovered */
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color:yellow ;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: -fx-text-inner-color;
}
